

<!DOCTYPE html>
<html>
    <head>
        <title> Reddit </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type = "text/javascript" src = "script.js"> </script>
        
        <!-- Material Design -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        
        
        <script type = "text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

        
    </head>
    
    
     <div id="snackbar">Subreddit Not Found </div>
     <div id="snackbar2">Subreddit Updated </div>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand " href="index.html">Reddit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a ng-click="search('cscareerquestions')" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">  CSCareerQuestions </a>
                </li>



                <li class="nav-item">
                    <a ng-click="search('apple')" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">  Apple </a>
                </li>

                <li class="nav-item">
                    <a ng-click="search('uga')" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">  UGA </a>
                </li>

                <li class="nav-item">
                    <a ng-click="search('AskReddit')" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"> AskReddit </a>
                </li>
                
                <li class="nav-item">
                    <a ng-click="search('Technology')" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"> Teadfchnology </a>
                </li>
                
               
       </ul>

        </div>
    </nav>
    
    <body ng-app="myApp" ng-controller="myCtrl">
        <center> 

            <a  href = "index.html"><img class="responsive" src="https://cdn.dribbble.com/users/1761084/screenshots/3587716/reddit.gif" ></a>
            <div class = "textbox"> 
            <input class = "filter" placeholder = "/r" ng-model = "subReddit">
                </div>
            <select class = "filter" ng-model="redditFilter" ng-options="x for x in names">
            </select>
            <button class = "btn btn-outline-danger" ng-click = "searchUserInput()"> Search </button>
            <br><br>
        </center>
        <div ng-repeat="value in responseData.data.data.children" class=" display">
            <div class="card cSize" >
                <div class="card-body">
                    
                    <a href = {{value.data.url}} target= "_blank" > 
                        <h5 class="card-title">{{value.data.title}}
                        </h5>  
                    </a>
                     <div class = "previewImage">  <img src = {{value.data.thumbnail}} class = "thumbnails"></div>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted">
                        r/{{value.data.subreddit}}
                    </h6>
                    <a href="https://www.reddit.com/user/{{value.data.author}}" class="card-link">
                        u/{{value.data.author}}
                    </a>
                    <a href="https://www.reddit.com{{value.data.permalink}}"  class="card-link"> 
                        {{value.data.num_comments}} comments
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>

