
* {
   font-family: "Helvetica-Light", Arial;
}



.responsive  {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.symbol {
    color: white;
}

.thumbnails {
    max-height: 70px;
    max-width: 70px;
    margin-right: 10px;
}

.title {
    text-align: center;
}

.bold {
    color: red;
}